.navbar {
  height: 72px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 71px;
}

.navbar .img {
  height: 45px;
  width: 158px;
}

.nav--leftside {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: black;
}

.middle--left {
  padding: 0px 23px;
}

.middle--right {
  padding: 0px 43px;
}

.nav--rightside {
  display: flex;
  align-items: center;
  justify-content: center;
}

select {
  font-size: 16px;
  text-decoration: none;
  border: none;
  outline: none;

}

.nav--rightside img {
  cursor: pointer;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 130px;
  border-radius: 52px;
  color: white;
  background: linear-gradient(266.79deg, #0048FF 4.63%, #0096FF 100%);
  /* padding-top: 20px; */
}

/* -----------main--------- */
.main {
  display: flex;
}

.main--container {
  width: 533px;
  /* height: 472px; */
  position: relative;
  left: 96px;
  right: 651px;
  top: 47px;
  bottom: 153px;
}

.heading {
  color: white;
  font-size: x-large;
}

/* .sec--head{
  color: white;
  font-size: xx-large;
  font-weight: 600;
} */

.pointers--item {
  display: flex;
  align-items: center;
  padding-top: 20px;
}

.pointers--item img {
  height: 40px;
  width: 40px;
}

.pointers--item div {
  padding-left: 20px;
}

.pointers--item span {
  color: #0096FF;
}

.form--container {
  background-color: white;
  /* display: flex; */
  /* align-items: center; */
  justify-content: space-around;
  position: relative;
  top: 3rem;
  left: 16rem;
  border-radius: 8px;
}

.form--top {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
}

.top--content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0rem 2rem;
  /* padding-bottom: 0.5rem; */
}

.number {
  color: white;
  background-color: #0096FF;
  height: 28px;
  width: 28px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content--text {
  color: #3C4852;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding-right: 10px; */
}


.form--top--text {
  width: 366px;
  color: #3C4852;
  /* height: rem; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
}

.form--fields {
  padding: 0.6rem 1rem;
}

.form--field--outer {
  background: #E7E7E7;
  border: 2px solid #BEBEBE;
  border-radius: 4px;
 
}

.form--fields--tag {
  background: #F77171;
  border-radius: 0px 0px 4px 4px;
  color: white;
  position: relative;
  width: 120px;
  font-size: 12px;
  left: 2.3rem;
}

.form--fields--tag p {
  padding: 0px 1.4rem;
 
}
.radio--container{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 0.5rem;
}

.form--radio--text {
  color:#BEBEBE;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.right--text--content{
  padding-left: 5rem;
}

.content--top{
  font-size: 12px;
  
}
.content--top span{
  font-size: 16px;
  
}

.content--bottom{
  font-size: 12px;
  padding-left: 1.55rem;
  /* display: flex;
  align-items: center;
  justify-content: space-around; */
}

.content--bottom span{
  font-size: 8px;
}